lib/schemas/module.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="module">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="path"/>
        <xs:element type="xs:string" name="func"/>
        <xs:element type="xs:string" name="version"/>
        <xs:element name="events">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="listener" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="for" use="optional"/>
                      <xs:attribute type="xs:string" name="call" use="optional"/>
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dependencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dependency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>